<?xml version="1.0"?>
<config>
    <modules>
        <Kruzhalin_OrderQuestion>
            <version>1.0.0</version>
        </Kruzhalin_OrderQuestion>
    </modules>
    <global>
        <blocks>
            <orderquestion>
                <class>Kruzhalin_OrderQuestion_Block</class>
            </orderquestion>
        </blocks>
        <models>
            <orderquestion>
                <class>Kruzhalin_OrderQuestion_Model</class>
                <resourceModel>orderquestion_resource</resourceModel>
            </orderquestion>
            <orderquestion_resource>
                <class>Kruzhalin_OrderQuestion_Model_Resource</class>
                <entities>
                    <question>
                        <table>order_question</table>
                    </question>
                </entities>
            </orderquestion_resource>
        </models>
        <helpers>
            <orderquestion>
                <class>Kruzhalin_OrderQuestion_Helper</class>
            </orderquestion>
        </helpers>
        <resources>
            <orderquestion_setup>
                <setup>
                    <module>Kruzhalin_OrderQuestion</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </orderquestion_setup>
        </resources>
        <template>
            <email>
                <order_question_manager_notification>
                    <label>Order Question Manager Notification</label>
                    <file>order_question_manager_notification.html</file>
                    <type>html</type>
                </order_question_manager_notification>
            </email>
        </template>
    </global>
    <crontab>
        <jobs>
            <order_question_notification>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>orderquestion/observer::sendQuestionNotification</model>
                </run>
            </order_question_notification>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Kruzhalin_OrderQuestion
                                before="Mage_Adminhtml">Kruzhalin_OrderQuestion_Adminhtml</Kruzhalin_OrderQuestion>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <orderquestion>
                <use>standard</use>
                <args>
                    <frontName>orderquestion</frontName>
                    <module>Kruzhalin_OrderQuestion</module>
                </args>
            </orderquestion>
        </routers>
        <layout>
            <updates>
                <orderquestion>
                    <file>orderquestion.xml</file>
                </orderquestion>
            </updates>
        </layout>
    </frontend>
</config>
